body{
    margin: 0px;
    padding: 0px;
    background: white;

    font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  
}
*{
    box-sizing: border-box;
}
.none{
      transition: all 1s ease;
  z-index: 1000;
  position: fixed;
  top:0px;
  width: 100%;
bottom: 0px;
padding: 0px; margin: 0px;
}
.slide-enter-active {
  transition: all .4s ease;
  z-index: 1000;
  position: fixed;
  top:0px;
  width: 100%;
bottom: 0px;
padding: 0px; margin: 0px;
}
.slide-leave-active {
  transition: all .4s ease;
  z-index: 999;
    position: fixed;
    top:0px;
  width: 100%;
bottom: 0px;
padding: 0px; margin: 0px;
}
.slide-leave {
  //left: 0%;
}
.slide-leave-to {
  //left: -100%;
}
.slide-enter {
  left: 100%;
}
.slide-enter-to {
  left: 0%;
}